@import url('https://fonts.googleapis.com/css?family=Exo:400,700,300');


.btnContainer{
  margin-top: 20px;
  z-index: 100;
  display: flex;
  width: 200vh;
  background-color: rgb(29, 224, 159);
  color: azure;
  justify-content: center;
}
.btnContainer2{
  margin-top: 120px;
  z-index: 100;
  display: flex;
  width: 200vh;
  background-color: rgb(29, 224, 159);
  color: azure;
  justify-content: center;
}

.bt1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Exo', sans-serif;
  z-index: 100;
  border-radius: 10px;
  background-color:transparent;
  border-style:solid;
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 300px;
  height: 40px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  transition: 0.5s;
}
/*tipografia dos botao abaixo*/

.bt1:after {
  content: '»';
  position: absolute;
  opacity: 0;
  /* padding-right: 24px;
  padding-left: 8px; */
  right: -20px;
  transition: 0.5s;
}

.bt1:hover {
 padding-right: 24px;
  padding-left: 8px;
  position: absolute;

}

.bt1:hover:after {
  opacity: 1;
   padding-right: 24px;
  padding-left: 8px;
  right: 10px;
}



.bt2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Exo', sans-serif;
  z-index: 100;
  border-radius: 10px;
  background-color: transparent ;
  border-style:solid;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 300px;
  height: 40px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  transition: 0.5s;
}
/*tipografia dos botao abaixo*/

.bt2:after {
  content: '»';
  position: absolute;
  opacity: 0;
  /* padding-right: 24px;
  padding-left: 8px; */
  right: -20px;
  transition: 0.5s;
}

.bt2:hover {
 padding-right: 24px;
  padding-left: 8px;
  position: absolute;

}

.bt2:hover:after {
  opacity: 1;
   padding-right: 24px;
  padding-left: 8px;
  right: 10px;
}